<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ conf.header }} - Gallery Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="admin.css" />
</head>
<body>

<h1>{{ conf.header }} - Gallery Admin</h1>

<div class="albums">
    <h2> Albums </h2>
    <form method="post">
        <input type="hidden" name="action" value="add_album"/>
        <label for="name">Album Name</label>
        <input type="text" name="name" placeholder="Album Name" required/>
        <input type="submit" value="New Album!"/>
    </form>
    <ul>
    {% for album in conf.content.albums %}
        <li><a href="{{ url_for('flask_photo.admin_album_view', album_id=album.id) }}" class="album">
            {{ album.name }}
        </a></li>
    {% endfor %}
    </ul>
</div>

</body>
</html>