<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ conf.header }} - Admin {{ album.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="album_admin.css" />
</head>
<body>
    
    <div class="update-albums-infos">
        <form method="post">
            <input type="text" name="name" value="{{ album.name }}"/>
            <input type="submit" value="Update."/>
        </form>
    </div>

</body>
</html>